html, body
    width: 100%
    height: 100%

body
    background-color: #cac
    color: #000

.wrap
    background-color: #fff
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
    width: 100%
    max-width: 1024px
    min-height: 100%
    margin: 0 auto
    padding: 16px
    overflow: hidden

a:visited
    color: #00f
