.code-examples
    &__tabs
        margin-bottom: -8px

    &__tab
        float: left
        display: inline
        border-radius: 5px 5px 0 0
        padding: 10px
        margin-right: 5px
        background-color: #f5f2f0
        cursor: pointer

        &--active
            text-decoration: underline

    &__code
        display: none

        &--active
            display: block
